In [1]:
import pandas as pd
import pandas_datareader.data as web
import datetime
import quandl

quandl_key = 'XJHgYSZCnRCrRojEbr9y'
quandl.ApiConfig.api_key = quandl_key

symbols = ['AAPL','AMZN','IBM','MSFT','EBAY']

l =[]

start = datetime.datetime(2012,7,31)
end = datetime.datetime(2017,6,30)

for symbol in symbols:
    ticker = "WIKI/" + symbol
    s_data = quandl.get(ticker, start_date=start, end_date=end)["Adj. Close"]
    l.append(s_data)

In [2]:
df = pd.concat(l,axis=1)
df.columns = symbols

In [3]:
df.head()

                 AAPL    AMZN         IBM       MSFT       EBAY
Date
2012-07-31  78.491173  233.30  167.112403  25.428906  17.428339
2012-08-01  77.983543  232.09  166.430242  25.377134  17.267039
2012-08-02  78.109486  230.81  165.807770  25.187301  17.219829
2012-08-03  79.126031  234.97  169.278264  25.670511  17.507023
2012-08-06  80.006352  233.99  169.482912  25.843086  17.613245